{% extends 'base.html.twig' %}

{% block title %}Commande validée
{% endblock %}

{% block body %}
	<div class="container">
		<p>Votre commande a bien été prise en compte et arrivera dans les plus brefs délais.</p>
		<p>
			<a href="{{path('home')}}">Retour à l'accueil</a>
		</p>
	</div>

{% endblock %}
